<footer class="footer bg-dark py-5">
    <div class="container grid grid-3">
        <div>
            <h1>EASY TUTORS</h1>
            <p>Copyrights &copy; 2020</p>
        </div>
        <nav>
            <ul>
                <li><a style="color:#fff" routerLink="/dashboard">home</a></li>
                <li><a style="color:#fff" routerLink="/about">about</a></li>
                <li><a style="color:#fff" routerLink="/courses">courses</a></li>
            </ul>
        </nav>
        <div class="social">
            <a href="#" style="color:#fff"><i class="fab fa-github fa-2x"></i></a>
            <a href="#" style="color:#fff"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="#" style="color:#fff"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#" style="color:#fff"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
    </div>
</footer>
