<!-- head -->
<section class="features-head bg-primary py-3" style="background-color: #fff;color:black">
    <div class="container grid">
        <div class="about-text">
            <h1 class="xl">
                Preethi chawla
            </h1>
            <p class="lead">
                frontend-Developer | UI/UX designer
            </p>
            <p>Having 10 years of experience in tutoring students in web development.Proficient in all frontend frame works
                Worked as UI/UX designer in Amazon for 8 years and a successful frontend developer.
            </p>
        </div>
        <img style="height:400px;width:500px" src="https://thumbs.dreamstime.com/b/portrait-young-female-teacher-white-background-157614924.jpg" alt="">
    </div>
</section>
<!-- subhead -->
<section class="features-sub-head bg-light py-3">
<div class="container grid">
    <div class="about-text">
        <h1 class="md">Ex-Amazon UI/UX head designer</h1>
        <p >
            Worked as senior designer role for UI/UX department in amazon for 8 years.
            Under my leadership our team had developed various UI/UX designs for amazon platform
        </p>
    </div>
    <img src="../../assets/workexp.png" >
</div>
</section>

<section class="features-main my-2">
    <div style="display: flex;justify-content: center;align-items: center;font-size: 30px;padding: 10px 10px;">customer reviews</div>
    <div class="container grid grid-3">
        <div class="card">
        <div class=" flex">
            <!-- <i class="fas fa-server fa-3x"> </i> -->
            <img src="../../assets/student4.jpeg" style="height: 150px;width:150px;border-radius: 100%;margin-right: 13px;">
            <p>" I love your services. It helps me so much when I am not able to get help at home with homework. It is also nice when an extra set of eyes is needed to proof read. All of the tutors that
                 I have had are great and are so helpful! This is the best idea for a website."
            </p> 
        </div>
    </div>
    <div class="card">
        <div class=" flex">
            <img src="../../assets/student1.jpg" style="height: 120px;width:120px;border-radius: 100%;margin-right: 13px;">
            <p> "My tutoring session went very well. I was pleased with all of the tips and personalized information given to help my specific needs."
            </p>
        </div>
    </div>
    <div class="card">
        <div class=" flex">
            <img src="../../assets/student5.jpg" style="height: 100px;width:100px;border-radius: 100%;margin-right: 13px;">
            <p> " I was failing my designing class and we tried this website as a last resort to help figure out questions. Later the next day I got an A on the test which raised my grade from a F to a B-. Praise Tutor.com "
            </p>
        </div>
    </div>
    <div class="card">
        <div class=" flex">
            <img src="../../assets/student2.jpg" style="height: 100px;width:100px;border-radius: 100%;margin-right: 13px;">
            <p> "I love your services. It helps me so much when I am not able to get help at home with homework."
            </p>
        </div>
    </div>
    <div class="card">
        <div class=" flex">
            <img src="../../assets/student6.jpg" style="height: 100px;width:100px;border-radius: 100%;margin-right: 13px;">
            <p> "My tutoring session went very well. I was pleased with all of the tips and personalized information given to help my specific needs."
                
            </p>
           
        </div>
    </div>
    <div class="card">
        <div class=" flex">
            <img src="../../assets/student3.jpg" style="height: 100px;width:100px;border-radius: 100%;margin-right: 13px;">
            <p> 
               " I love your services. It helps me so much when I am not able to get help at home with homework. It is also nice when an extra set of eyes is needed to proof read."
            </p>
           
        </div>
    </div>
</div>
</section>


