<section class="showcase">
    <div class="container grid">
        <div class="showcase-text">
            <h1>Learn the best</h1>
            <p>
                An online platform to learn new technologies with ease.
            </p>
            <a href="features.html" class="btn btn-outline">Join Free Trail</a>
        </div>
        <div class="showcase-form card">
            <h2>Ask a query</h2>
            <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true" >
                <input type="hidden" name="form-name" value="contact">
                <p class="hidden">
                    <label>Dont fill this out if you are human: <input name="bot-field"/></label>
                </p>
                <div class="form-control">
                     <input type="text" name="name" placeholder="Your Name" required>
                </div>
                <div class="form-control">
                    <input type="text" name="company" placeholder="Your Query" required>
               </div>
               <div class="form-control">
                <input type="email" name="email" placeholder="your Email" required>
           </div>
           <input type="submit" value="send" class="btn btn-primary">
            </form>
        </div>
    </div>
</section>
<!-- stats -->
<section class="stats">
    <div class="container">
        <!-- <h3 class="stats-heading text-center my-1">
            Compiled successfully.Browser application bundle generation complete.
        </h3> -->
        <div class="grid grid-3 text-center my-4">
            <div class="flex-column">
                <i class="fas fa-user-graduate fa-3x"></i>
                <h3>10,000+</h3>
                <p class="text-secondary">Students</p>
            </div>
            <div class="flex-column">
                <i class="fas fa-book fa-3x"></i>
                <h3>125+</h3>
                <p class="text-secondary">Courses</p>
            </div >
            <div class="flex-column">
                <i class="fas fa-project-diagram fa-3x"></i>
                <h3>100+</h3>
                <p class="text-secondary">Projects</p>
            </div>
        </div>

    </div>
</section>

<!-- cli-->
<section class="cli">
    <div class="container grid">
      <img style="height:430px;width:600px" src="../../assets/easytutoring.png" alt="">
      <div class="card">
          <h3>Personal mentoring</h3>
      </div>
      <div class="card">
          <h3>Doubt clearing sessions</h3>
      </div>
      <div class="card">
        <h3>Daily assesments and awards</h3>
    </div>
    </div>

</section>
<!-- cloud -->
<section class="cloud  my-2 py-2" style="margin-top: 30px;">
    <div class="container ">
        <div class="text-center" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
            <h2 class="lg">Explore our courses</h2>
            <p class="lead ">
                Lets take a tour over our courses and grab your opportunity to learn the best
            </p>
            <a href="x.html" class="btn btn-dark my-1" routerLink="/courses">Explore</a>
        </div>
    </div>
    </section>
<!-- languages sec -->
<section class="languages">
    <div class="md text-center my-2">
         languages taught
    </div>
    <div class="container flex">
        <div class="card">
            <h4>Nodejs</h4>
            <img style="height:50px;width:80px"src="../../assets/nodejs.png" >
        </div>
        <div class="card">
            <h4>angular</h4>
            <img style="height:50px;width:80px"src="../../assets/angular.svg" alt="">
        </div>
        <div class="card">
            <h4>html</h4>
            <img style="height:50px;width:80px"src="../../assets/html.png" alt="">
        </div>
        <div class="card">
            <h4>css</h4>
            <img style="height:50px;width:80px"src="../../assets/css.png" alt="">
        </div>
        <div class="card">
            <h4>bootstrap</h4>
            <img style="height:50px;width:80px"src="../../assets/bootstrap.png" alt="">
        </div>
        <div class="card">
            <h4>Reactjs</h4>
            <img style="height:50px;width:80px"src="../../assets/react.png" alt="">
        </div>
        <div class="card">
            <h4>python</h4>
            <img style="height:50px;width:80px"src="../../assets/python.png" alt="">
        </div>

    </div>
</section>